{% extends 'admin_base.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="col-sm-9">
    <div class="well">
        <h2>管理仪表板</h2>
        {# display error message if login failed #}
        {% include "inc/flash_messages.twig" %}
        <p>From this dashboard you can manage:</p>
        <table class="table">
        <tr>

        <td><a class="btn btn-lg btn-primary btn-block" role="button"
            href="/admin/accounts">User Accounts</a></td>

        <td><a class="btn btn-lg btn-primary btn-block" role="button"
            href="/admin/illnesses">Illness Records</a></td>

        <td><a class="btn btn-lg btn-primary btn-block" role="button"
            href="/admin/drugs">Drug Details</a></td>
        </tr>
        <tr>
        <td><a class="btn btn-lg btn-primary btn-block" role="button"
            href="/admin/payments">Payments</a></td>

        <td><a class="btn btn-lg btn-primary btn-block" role="button"
            href="/admin/uploads" disabled>Uploads</a></td>

        <td><a class="btn btn-lg btn-primary btn-block" role="button"
            href="/admin/hospitalization" disabled>Hospitalization</a></td>
        </tr>

    </div>
</div>
{% endblock %}
