{% extends 'base.twig' %}

{% block title %}Manage accounts{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="/js/dialogues.js"></script>
    {% if filename is not empty %}
        <script src="/js/rewrite_file.js"></script>
    {% endif %}
{% endblock %}

{% block content %}

{# Dialogues #}
{% include 'inc/dlg/delete_user.twig' %}
{% include 'inc/dlg/overwrite_yml.twig' %}

<div class="container">
    <div class="well">
        <h2>用户管理</h2>
        {# display error message if database search failed #}
        {% include "inc/flash_messages.twig" %}

        <form id="batch_add" class="form-inline" action="/admin/accounts/add-many"
            method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="input_file">Select batch file</label>
                <input type="file" class="form-control" id="input_file"
                    name="acc_file">
                <input type="submit" class="btn btn-primary"
                    value="Add">
            </div>
        </form>

        <a class="btn btn-primary" role="button"
            href="/admin/accounts/add-single">Add new</a>
    </div>
    <div class="media well">
        <div class="media-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Registered at</th>
                        <th>Privileges</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        {% include "inc/admin_account.twig" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
