{% extends 'admin_base.twig' %}

{% block title %}Manage uploads{% endblock %}

{% block scripts %}
    <script src="/js/pic_pages.js"></script>
    <script src="/js/pic_multi_select.js"></script>
{% endblock %}

{% block content %}
<div class="col-sm-9">
    <div class="media">
        <div class="media-body">
            <div class="well">
                <h2>上传管理</h2>
                {% include "inc/flash_messages.twig" %}
            </div>
            <ul class="nav nav-tabs">
                <li class="{% if tab == 'pictures' %}active{% endif %}"><a href="#illPics" data-toggle="tab">Illness Pictures</a></li>
                <li class="{% if tab == 'drugs' %}active{% endif %}"><a href="#drugPics" data-toggle="tab">Drug Pictures</a></li>
            </ul>
            <div id="tabContent" class="tab-content">
                <div class="tab-pane fade
                {% if tab == 'pictures' %}active{% endif %} in" id="illPics">
                    {% include 'inc/pics_tab.twig' %}
                </div>
                <div class="tab-pane fade
                {% if tab == 'drugs' %}active{% endif %} in" id="drugPics">
                    {% include 'inc/drugs_tab.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
