{% extends 'admin_base.twig' %}

{% block title %}Manage accounts{% endblock %}

{% block scripts %}
    <script src="/js/dialogues.js"></script>
    <script src="/js/check_all.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/sort_table.js"></script>
{% endblock %}

{% block content %}
{# Dialogues #}
{% include 'inc/dlg/delete_drug.twig' %}
{% include 'inc/dlg/delete_drugs.twig' %}

<div class="col-sm-9">
    <div class="well">
        <h2>药品管理</h2>
        <br>

        {% include "inc/flash_messages.twig" %}

        <h4>Add new drugs:</h4>
        <form class="form-inline" action="/admin/drugs/add-many" method="post">
            <div class="form-group">
                <a class="btn btn-primary" role="button"
                    href="/admin/drugs/add-single">Add one</a>
                <span style="margin: 0 10px"> OR </span>
                <select class="form-control" name="yml" required>
                    <option disabled selected value="">Select YML file</option>
                    {% for file in files %}
                        <option value="{{file|name}}">{{ file|name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-primary"
                    value="Add many">
            </div>
        </form>

    </div>
    <div class="media well">
        <div class="media-body">
            <form action="/admin/drugs/delete" method="post">
            <table id="tableToSort" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th role="button" onclick="sortTable(0)">ID</th>
                        <th role="button" onclick="sortTable(1)">Name</th>
                        <th role="button" onclick="sortTable(2)">Text</th>
                        <th role="button" onclick="sortTable(3)">Picture</th>
                        <th role="button" onclick="sortTable(4)">Cost</th>
                        <th role="button" onclick="sortTable(5)">Illnesses</th>
                        <th></th>
                        <th></th>
                        <th role="button" class="col-sm-1 checkable" style="text-align:center">
                            <input role="button" type="checkbox" id="checkAll">
                        </th>
                    </tr>
                </thead>
                <tbody id="tableTBody">
                    {% for drug in drugs %}
                        {% include "inc/admin_drug.twig" %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <td colspan="9" style="text-align:right">
                        <input class="btn btn-sm btn-danger" type="submit"
                            name="delete_selected" value="Delete selected">
                    </td>
                </tfoot>
            </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
