{% extends 'base.twig' %}

{% block title %}Catalog{% endblock %}

{% block content %}
<div class="container">
    <div class="well">
        <h2>病例目录</h2>
        {# display error message if database search failed #}
        {% include "inc/flash_messages.twig" %}
        <p>Browse the catalog and learn all about pet illnesses.</p>
    </div>
    {% for class, illnesses in catalog %}
        {% include "inc/catalog_list.twig" %}
    {% endfor %}
</div>
{% endblock %}
