{% extends 'base.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container">
    <div class="well">
        <h2>管理仪表板</h2>
        <p>From this dashboard you can manage:
            <ul>
                <li>User accounts</li>
                <li>Illness Records</li>
                <li>Drug Details</li>
                <li>住院管理</li>
                <li>Payments</li>
                <li>Uploads</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}
