{% extends 'base.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container">
    <div class="well">
        <h2>虚拟宠物医院学习系统</h2>
        {# display success messages if:
            login success
            registration success
         #}
        {% include "inc/flash_messages.twig" %}
        <p>Welcome to Virtual Vet Clinic. You can select 3D navigation or go
        browse illness catalog page.</p>
    </div>
</div>
{% endblock %}
