{% extends 'base.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="well col-sm-6 col-sm-offset-3">
        <form class="form-signin" method="post" action="/login">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% block flash_messages %}
                {# display error message if login failed #}
                {% include "inc/flash_messages.twig" %}
            {% endblock %}
            <input type="text" id="input_username" name="username"
                class="form-control" placeholder="Username"
                {% if username %}
                    value="{{ username }}"
                {% endif %}
                required autofocus>
            <br>
            <input type="password" id="input_password" name="password"
                class="form-control" placeholder="Password" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block"
                type="submit">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
