{% extends 'base.twig' %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="container">
    <div class="well col-sm-6 col-sm-offset-3">
        <form class="form-signin" method="post" action="/registration">
            <h2 class="form-signin-heading">Registration</h2>
            {# display error message if registration failed #}
            {% include "inc/flash_messages.twig" %}
            <input type="text" id="input_username" name="username"
                class="form-control" placeholder="Username"
                {% if username %}
                    value="{{ username }}"
                {% endif %}
                required autofocus>
            <br>
            <input type="password" id="input_password" name="password"
                class="form-control" placeholder="Password" required>
            <br>
            <input type="password" id="input_password" name="confirm_password"
                class="form-control" placeholder="Confirm Password" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block"
                type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
