* {
  margin: 0;
  font-family: 'Helvetica';
}

body {
  background-image: url('../img/navi.png')
}

.navibar {
  height: 100px;
  padding-top: 25px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.6);
}

.navi-text {
  font-size: 36px;
}

.logout-text {
  border: 1px #000 solid;
  padding: 3px;
  border-radius: 5px;
  font-size: 24px;
  color: #300;
  position: absolute;
  top: 40px;
  right: 50px;
}

.select-bar {
  font-size: 36px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.options-area {
  position: absolute;
  top: 360px;
  left: 100px;
}

.options {
  font-size: 36px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 20px;
}