<div class="media well">
    <div class="media-body">
      <h4 class="media-heading">{{ class }}</h4>
      <ul>
          {% for illness in illnesses %}
          <li>
              {% include "inc/catalog_illness.twig" %}
          </li>
          {% endfor %}
      </ul>
    </div>
</div>
