{% block nav %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Virtual Vet Clinic</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/3d">3D Navigation</a></li>
                <li><a href="/catalog">Catalog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not authenticated() %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registration">Registration</a></li>
                {% else %}
                    {% if admin() %}
                    <li><a href="/admin">
                        <span class="glyphicon glyphicon-wrench"></span>
                        Back to Dashboard
                    </a></li>
                    <!-- <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/admin">Dashboard</a></li>
                          <li><a href="/admin/accounts">Users</a></li>
                          <li><a href="/admin/illnesses">Illnesses</a></li>
                          <li><a href="/admin/drugs">Drugs</a></li>
                      </ul>
                    </li> -->
                    {% endif %}
                    <li><a href="/account">My Account</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
